@font-face {
  font-family: Paris_2024;
  src: url(./Fonts/Paris2024-Variable.ttf);
}

@font-face {
  font-family: FIFA;
  src: url(./Fonts/fifawelcome1.3.ttf);
}

@font-face {
  font-family: Gilroy_Medium;
  src: url(./Fonts/Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.main {
  width: 100%;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #001722;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 12.5vh;
}

.logo,
img {
  margin-left: 5rem;
  height: 7vh;
}

.Track,
p {
  font-family: "Gilroy_Medium";
  font-weight: 800;
  color: #fff;
  margin-left: 30vw;
  font-size: 1.2vw;
}



.Design,
p {
  font-family: "Gilroy_Medium";
  font-weight: 800;
  color: #fff;
  background-color: #001722;
  margin-left: 2vw;
  font-size: 1.2vw;
}

.box {
  position: relative;
  width: 16vw;
  height: 3vw;
  color: #fff;
  margin-left: 2rem;
  background: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: -webkit-gradient(linear,
      left top, right top,
      color-stop(50%, transparent),
      color-stop(rgb(255, 255, 255)),
      to(rgb(255, 255, 255)));
  background: -o-linear-gradient(left,
      transparent 50%,
      rgb(255, 255, 255),
      rgb(255, 255, 255));
  background: linear-gradient(90deg,
      transparent 50%,
      rgb(255, 255, 255),
      rgb(255, 255, 255));
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: -webkit-gradient(linear,
      left top, right top,
      from(rgb(255, 255, 255)),
      color-stop(rgb(255, 255, 255)),
      color-stop(50%, transparent));
  background: -o-linear-gradient(left,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      transparent 50%);
  background: linear-gradient(90deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      transparent 50%);
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: -webkit-gradient(linear,
      left top, left bottom,
      color-stop(30%, transparent),
      color-stop(rgb(255, 255, 255)),
      to(rgb(255, 255, 255)));
  background: -o-linear-gradient(top,
      transparent 30%,
      rgb(255, 255, 255),
      rgb(255, 255, 255));
  background: linear-gradient(180deg,
      transparent 30%,
      rgb(255, 255, 255),
      rgb(255, 255, 255));
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: -webkit-gradient(linear,
      left top, left bottom,
      from(rgb(255, 255, 255)),
      color-stop(rgb(255, 255, 255)),
      color-stop(70%, transparent));
  background: -o-linear-gradient(top,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      transparent 70%);
  background: linear-gradient(180deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      transparent 70%);
}

.top {
  -webkit-animation: animateTop 3s ease-in-out infinite;
  animation: animateTop 3s ease-in-out infinite;
}

.bottom {
  -webkit-animation: animateBottom 3s ease-in-out infinite;
  animation: animateBottom 3s ease-in-out infinite;
}

.right {
  -webkit-animation: animateRight 3s ease-in-out infinite;
  animation: animateRight 3s ease-in-out infinite;
}

.left {
  -webkit-animation: animateLeft 3s ease-in-out infinite;
  animation: animateLeft 3s ease-in-out infinite;
}

@-webkit-keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateBottom {

  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {

  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateRight {

  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateRight {

  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes animateLeft {

  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes animateLeft {

  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

#bag {
  font-weight: 800;
  color: #fff;
  margin-left: 2vw;
  font-size: 1.5vw
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#user {
  color: #fff;
  font-weight: 800;
  margin-left: 3vw;
  font-size: 1.5vw;
}

.login {
  font-family: "Gilroy_Medium";
  font-weight: 500;
  color: #fff;
  margin-left: 1vw;
  font-size: 1.2vw;
}

.typography,
h4 {
  font-size: 1.2rem;
  color: #424144;
  font-weight: 500;
  font-family: "Gilroy_Medium";
  padding-top: 5rem;
  text-align: center;
}

.typo,
h3 {
  font-size: 1.7rem;
  color: #313033;
  text-align: center;
  padding-top: 0.7rem;
  font-weight: 500;
  font-family: "Paris_2024";
}

.make-it {
  width: 90%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
}

.box1 {
  width: 45%;
  height: 100%;
}

.box2 {
  width: 55%;
  height: 100%;
}

h5 {
  padding-left: 2rem;
  padding-top: 3rem;
  color: #313033;
  font-weight: 900;
  font-size: 1rem;
  font-family: "Gilroy_Medium";
}

ol {
  padding-top: 3.5rem;
  padding-left: 3rem;
  font-family: "Gilroy_Medium";
  color: #4F4F4F;
  line-height: 2.3rem;
}

button {
  margin-left: 3rem;
  margin-top: 2.5rem;
  font-weight: 900;
  border: none;
  width: 8rem;
  height: 2.5rem;
  font-family: "Gilroy_Medium";
  color: #fff;
  background-color: #001E6C;
  border-radius: 50px;
}

.flex-align-item {
  width: 90%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
}

video {
  width: 90%;
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  background: #fff;
}

.index-style {
  width: 90%;
  border-radius: 0.5rem;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EFF5FF;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
}

.bx1 {
  width: 30%;
  height: 100%;
}

.bx2 {
  width: 40%;
  height: 100%;
}

.bx3 {
  width: 30%;
  height: 100%;
}

.Join {
  width: 75%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 1rem;
}

.bg1 {
  width: 40%;
  height: 100%;
}

.bg2 {
  width: 60%;
  height: 100%;
}

.best-design {
  width: 90%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
}

.sm1 {
  width: 60%;
  height: 100%;
}

.sm2 {
  width: 40%;
  height: 100%;
}

.special {
  width: 90%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
}

.ts1 {
  width: 45%;
  height: 100%;
}

.ts2 {
  width: 55%;
  height: 100%;
}

.index-styled {
  width: 60%;
  height: 45%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1rem;
}

.footer {
  width: 100%;
  height: 90%;
  background: #001722;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 0.5rem;
}

.acc1 {
  width: 30%;
  height: 95%;
}

.acc2 {
  width: 40%;
  height: 95%;
}

.acc3 {
  width: 30%;
  height: 95%;
}
